@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

a {
    color: #1166ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}