@import url('https://fonts.googleapis.com/css?family=Quicksand');


@media (prefers-color-scheme: light) {
    body {
        background-color: #fdf6e3;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000b0c;
        color: white;
    }
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #1166ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}